:root {
    /* Fonts */
    --main-font: "Roboto", sans-serif;
    --secondary-font: "Raleway", sans-serif;

    /* Text color */
    --main-txt-cl: #212121;
    --secondart-txt-cl: #757575;
    --light-txt-cl: #ffffff;
    --light-txt-cl-60: rgba(255, 255, 255, 0.6);
    --accent-txt-cl: #2196f3;

    /* Background */
    --accent-bg-cl: #2196f3;
    --main-bgc: #ffffff;
    --secondary-bgc: #2f303a;
    --grey-bgc: #f5f4fa;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: var(--main-font);
    background-color: var(--main-bgc);
    font-size: 14px;
    color: var(--main-txt-cl);
    letter-spacing: 0.42px;
    line-height: 1.7;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

.link {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

.list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.btn {
    cursor: pointer;
    color: var(--light-txt-cl);
    background-color: var(--accent-bg-cl);
    border: none;
}

img {
    display: block;
}

.link:hover,
.link:focus {
    color: var(--accent-txt-cl);
}

.btn:hover,
.btn:focus {
    background-color: var(--accent-bg-cl);
}

.section-title {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: calc(42 / 36);
    letter-spacing: 1.08px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 1230px;
    margin-left: auto;
    margin-right: auto;
}

.accent {
    color: var(--accent-txt-cl);
}

/**
  |============================
  | Header
  |============================
*/

.logo {
    font-size: 26px;
    color: var(--accent-txt-cl);
    font-family: Raleway;
    font-weight: 700;
    letter-spacing: 0.78px;
    line-height: normal;
}

.dark-logo {
    color: #000;
}

.nav-item {
font-weight: 500;
letter-spacing: 0.28px;
}

.nav-contacts-list .item {
color: var(--secondart-txt-cl);
    font-weight: 500;
    letter-spacing: 0.28px;
}

/**
  |============================
  | Main
  |============================
*/

.main-container {
    background-color: var(--secondary-bgc);
}

.title {
    color: var(--light-txt-cl);
    
        text-align: center;
        font-size: 44px;
        font-weight: 900;
        line-height: 1.36;
        letter-spacing: 2.64px;
        text-transform: uppercase;

        width: 696px;
}

.main-btn {
    width: 261px;
    height: 50px;

    color: var(--light-txt-cl);
    
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.87;
        letter-spacing: 0.96px;

        border-radius: 4px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

/**
  |============================
  | Advantages
  |============================
*/

.advantages-title {
        font-weight: 700;
        letter-spacing: 0.42px;
        text-transform: uppercase;
}

.advantages-subtitle {
color: var(--secondart-txt-cl);
}

/**
  |============================
  | About
  |============================
*/

/**
  |============================
  | Team
  |============================
*/

.team-container {
    background-color: var(--grey-bgc);
}

.team-name {
    text-align: center;
        font-size: 16px;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.48px;
}

.team-profession {
    color: var(--secondart-txt-cl);
    
        text-align: center;
        font-size: 16px;
        line-height: normal;
        letter-spacing: 0.48px;
}

/**
  |============================
  | Footer
  |============================
*/

.footer-container {
    background-color: var(--secondary-bgc);
}

.light-logo {
    color: var(--light-txt-cl);
}

.address-item {
color: var(--light-txt-cl-60);
    font-style: normal;
}

.map {
    color: var(--light-txt-cl);
}

/**
  |============================
  | Portfolio
  |============================
*/

/**
  |============================
  | Buttons
  |============================
*/

.btn-portfolio {
    color: var(--main-txt-cl);
    
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.62;
        letter-spacing: 0.48px;

        border-radius: 4px;
            background: var(--grey-bgc);
}

.btn-portfolio:hover,
.btn-portfolio:focus {
    color: var(--light-txt-cl);
}

/**
  |============================
  | Cases
  |============================
*/

.portfolio-cards-name {
    font-size: 18px;
        font-weight: 700;
        line-height: 2;
        letter-spacing: 1.08px;
}

.portfolio-cards-text {
    color: var(--secondart-txt-cl);
        font-size: 16px;
        line-height: 1.87;
        letter-spacing: 0.48px;
}